<h1>Listing people</h1>

<hr>
<h3>Basic form, no ajax</h3>
<%= render 'people/search' %>
<hr>


<h3>Form with ajax</h3>
<%= render 'people/search_ajax' %>
<hr>

<div id="testing">
  <%= render 'people/index' %>
</div>


